.mensa-table {
    width: 100%;
    font-size: 0.8em;
  }
  
  .mensa-table th,
  .mensa-table td {
    padding: 5px;
  }
  
  .mensa-table th {
    text-align: left;
  }
  
  .mensa-table td {
    border-top: 1px solid #cccccc1e;
  }
  
